* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* soluzione con inline-block */
/* .card {
    width: calc(100% / 3 - 3px);
    display: inline-block;
} */


/* soluzione con il float */
.card {
    width: calc(100% / 3);
    float: left;
    padding: 10px;
    margin-bottom: 20px;
}

.card-image {
    position: relative;
    cursor: pointer;
}

.card .card-image img {
    width: 100%;
}

.card .card-image .first-image {
    display: block;
}

.card .card-image .second-image {
    display: none;
}

.card .card-image:hover .first-image {
    display: none;
}

.card .card-image:hover .second-image {
    display: block;
}

.card-image .heart {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: #fff;
    font-size: 26px;
    padding: 10px 15px;
}



.card-image .card-tag {
    position: absolute;
    left: 0;
    bottom: 20px;
}


.card-tag span {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
}

.card-tag .discount {
    background-color: red;
}


.card-tag .eco {
    background-color: green;
}

.card-text {
    padding-top: 5px;
}

.card-text h3 {
    text-transform: uppercase;
    font-size: 16px;
}

.card-text .price {
    color: red;
}
/* debug */

/* .debug .container {
    height: 800px;
    background-color: pink;
} */

/* .debug .card {
    height: 400px;
    background-color: violet;
    border: 1px solid black;
}

.debug .card-image {
    height: 350px;
    background-color: yellow;
} */
/* 
.debug .card-text {
    height: 50px;
    background-color: lightblue;
} */