* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* soluzione con inline-block */
/* .card {
    width: calc(100% / 3 - 3px);
    display: inline-block;
} */


/* soluzione con il float */
.card {
    width: calc(100% / 3);
    float: left;
}




/* debug */

.debug .container {
    height: 800px;
    background-color: pink;
}

.debug .card {
    height: 400px;
    background-color: violet;
    border: 1px solid black;
}